<div class="" @change="sync">
  <div class="close" style="padding:10px 15px;margin-right: -15px;" @click="route.calendar=-1">&times;</div>
  <h3>{{ cal.label }}</h3>

  <hr>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-3 control-label">Regelmaat</label>
      <div class="col-xs-4">
        <select v-model="options.freq" class="form-control">
          <option :value="RRule.YEARLY">Jaarlijks</option>
          <option :value="RRule.MONTHLY">Maandelijks</option>
          <option :value="RRule.WEEKLY">Wekelijks</option>
          <option :value="RRule.DAILY">Dagelijks</option>
        </select>
      </div>
      <div class="col-xs-5" v-if="options.freq==RRule.MONTHLY">
        <select v-model="options.interval" class="form-control">
          <option :value="1">elke maand</option>
          <option :value="2">tweemaandelijks</option>
          <option :value="3">elk kwartaal</option>
          <option :value="4">viermaandelijks</option>
        </select>
      </div>
      <div class="col-xs-5" v-if="options.freq==RRule.WEEKLY">
        <select v-model="options.interval" class="form-control">
          <option :value="1">elke week</option>
          <option :value="2">tweewekelijks</option>
          <option :value="3">driewekelijkst</option>
          <option :value="4">vierwekelijks</option>
        </select>
      </div>
      <div class="col-xs-5" v-if="options.freq==RRule.DAILY">
        <select v-model="options.interval" class="form-control">
          <option :value="1">elke dag</option>
          <option :value="2">om de dag</option>
          <option :value="3">om de drie dagen</option>
          <option :value="4">om de vier dagen</option>
          <option :value="7">om de vijf dagen</option>
          <option :value="6">om de zes dagen</option>
        </select>
      </div>
    </div>

    <!-- Yearly -->
    <div v-if="options.freq==RRule.YEARLY">

      <!-- bymonthday + bymonth -->
        <div class="form-group">
          <label class="col-xs-3 control-label">op</label>
          <div class="col-xs-4">
            <select v-model="options.bymonthday" class="form-control">
              <option :value="1" selected>1</option>
              <option v-for="i in 30" :value="i + 1" v-text="i + 1"></option>
            </select>
          </div>
          <div class="col-xs-5">
            <select v-model="options.bymonth" class="form-control">
              <option :value="1" selected>januari</option>
              <option :value="2">februari</option>
              <option :value="3">maart</option>
            </select>
          </div>
        </div>
      <!-- bysetpos + byweekday + bymonth -->
        <div class="form-group">
          <label class="col-xs-3 control-label">
          <input type="checkbox">
          op de
          </label>
          <div class="col-xs-3">
            <select v-model="options.bysetpos" class="form-control">
              <option :value="1" selected>eerste</option>
              <option :value="2">tweede</option>
              <option :value="3">derde</option>
              <option :value="-2">voorlaatste</option>
              <option :value="-1">laatste</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select v-model="options.byweekday" class="form-control">
              <option value="1">maandag</option>
              <option value="2">dinsdag</option>
              <option value="3">woesndag</option>
              <option value="4">donderdag</option>
              <option value="5">vrijdag</option>
              <option value="6">zaterdag</option>
              <option value="0">zondag</option>
              <option value="0,1,2,3,4,5,6" selected>dag</option>
              <option value="1,2,3,4,5">weekdag</option>
              <option value="0,6">weekend</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select v-model="options.bymonth" class="form-control">
              <option :value="1" selected>januari</option>
              <option :value="2">februari</option>
              <option :value="3">maart</option>
            </select>
          </div>
        </div>
    </div>
    <div v-if="options.freq==RRule.MONTHLY">

    </div>
    <div v-if="options.freq==RRule.WEEKLY">

    </div>
    <div v-if="options.freq==RRule.DAILY">

    </div>
    <pre class="cal-render">
      {{ cal }}
    </pre>
    <div class="cal-render">
      <!-- {{ rruleAll }} -->
    </div>
  </div>
</div>
