.printme {
  .navbar {
    display: none;
  }
  :not(.months-container) * {
    display: none;
  }
  .months-container {
    z-index: 10000;
    position: fixed;
    background: white;
    padding: 2cm;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
