// Ghent colors
$lightblue: #007db3;
$darkblue: #2b3f47;
$green: #4da22e;
$kaki: #626c35;
$orange: #f39200;
$red: #e30513;
$purple: #951b81;
$yellow: yellow;
$color-lightest-blue; #ECF5F7;
$color-color-white-blue: #c2e2f0;


// Map to bootstrap colors
$brand-primary: $lightblue; // #337ab7
$brand-success: $green;
$brand-info: $darkblue;
$brand-warning: $orange;
$brand-danger: $red;

$navbar-height:                    50px !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color: white;
$navbar-default-bg: $darkblue;
$navbar-default-border: white;

// Navbar links
$navbar-default-link-color:              white;
$navbar-default-link-hover-color:          rgba(255, 255, 255, .7);
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;
