// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/bootstrap-year";

/* container maybe max-width to 100% */

.container {
  width: auto;
  max-width: 1400px;
}

/* Breadcrumb */

.container-breadcrumb {
  margin-top: -20px;
  margin-bottom: 0;
}
.breadcrumb > .active > a {
  color: #777;
  text-decoration: underline;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  background: none;
  border: none;
}
.pre-wrap {
  white-space: pre-wrap;
}

/* Table */

.table-hover > tbody > tr:hover {
  cursor: pointer;
}
.table-list {
  margin-bottom: 0;
  padding-left: 20px;
}
.table > tbody + tbody {
  border-top-width: 1px;
}
.text-danger > a {
  color: inherit;
}
.td-btn {
  padding: 4px 8px!important;
}

/* Table */

.th-sortable {
  user-select: none;
  cursor: pointer;
}
.th-sortable:hover {
  text-decoration: underline;
}
.th-sortable::before {
  display: inline-block;
  vertical-align: top;
  content: ' ';
  width: 20px;
  height: 19px;
  opacity: .2;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center left;
}
.th-sortable.down::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}
.th-sortable.up::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}

/* Navbar > Vertical divider */

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid $navbar-default-border;
}
@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/* Panel */

a.panel {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    .panel-heading {
      text-decoration: underline;
    }
  }
}
.panel-move .panel-heading {
  cursor: move;
}
.panel-move svg {
  vertical-align: top
}
.btn-icon {
  padding: 6px;
  min-width: 30px;
  font-size: 12px;
  line-height: 12px;
  >svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    vertical-align: top;
  }
}
h1+h3 {
  margin-top: 10px;
}

/* Pagination */

.pagination-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-top: 1px solid $navbar-default-border;
}
.pagination {
  margin: 10px 0;
}
.pagination > li > a {
  text-align: center;
  min-width: 38px;
}
.slideup-enter-active,
.slideup-leave-active {
  transition: transform .3s
}
.slideup-enter,
.slideup-leave-active {
  transform: translateY(100%);
}

/* Version > Preview */

.version-split {
  position: fixed;
  top: 217px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  &>div {
    height: 100%;
    overflow: auto;
  }
}
.version-cals {
  width: 30em;
}
.version-preview {
  border-left: 1px solid #ccc;
  padding-top: 1em;
  width: calc(100% - 30em);
}
.calendar {
  overflow: hidden;
}
.calendar .month-container {
  min-width: 180px;
  text-align: center;
  height: 200px;
  padding: 0;
}

/* Version > Cals */

.cal {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
  /* Colors */
  &:nth-child(1) .cal-img {
    background-color: red;
    color: white;
  }
  &:nth-child(2) .cal-img {
    background-color: blue;
    color: white;
  }
  &:nth-child(3) .cal-img {
    background-color: yellow;
  }
}
.cal-header {
  line-height: 32px;
}
.cal-options {
  float: right;
}
.cal-img {
  float: left;
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
}
.cal-higher,
.cal-lower,
.cal-view,
.cal-drag {
  margin-left: 1em
}
.cal-drag {
  font-size: 12px;
}

/* Modal > Content */

.modal-content {
  border-radius: 0;
}

/* Modal > Footer */

.modal-footer {
  text-align: left;
  border: 0;
}
