// Variables
@import "variables";
// Bootstrap
@import "bootstrap";
@import "vendor/bootstrap-year";
@import "vendor/bootstrap-multiselect";
@import "vendor/pikaday";
@import url("https://unpkg.com/vue-multiselect@3.0.0/dist/vue-multiselect.css");

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #27373f;
}

/* container maybe max-width to 100% */

.container {
  width: auto;
  max-width: 1400px;
}

/* Breadcrumb */

.container-breadcrumb {
  margin-bottom: 0;
}

.breadcrumb > .active > a {
  color: #777;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1.5em 0;
  background: none;
  border: none;
  font-size: 1.2em;

  li:last-of-type {
    font-weight: 900;
  }

  a {
    color: inherit;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

/* Table */

.table-list {
  margin-bottom: 0;
  padding-left: 20px;
}

.table-message {
  padding: 5em 0;
  .row & {
    padding: 5em 1em;
  }
}

.table > tbody {
  background-color: $color-lightest-blue;
}

.text-danger > a {
  color: inherit;
}

.td-btn {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  width: 1px;
}

.td-clickstop {
  cursor: auto;
}

/* Table > extra padding */

.table {
  margin-top: 15px;
  border-collapse: collapse;
  margin-bottom: 80px;

  > thead {
    background-color: $color-color-white-blue;
  }
  > thead > tr > th {
    border: none;
    padding: 1em;
  }
  > tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  > thead > tr > th,
  > tbody > tr > td {
    border: none;
    padding-left: 1em;
    vertical-align: middle;
    width: auto;

    &.narrow {
      width: 12%
    }

    &:first-child {
      padding-left: 3em;
      &.td-sortable {
        padding-left: calc(3em + 20px);
      }
    }
    &:last-child {
      padding-right: 3em;
    }

    &.td-sortable {
      padding-left: calc(1em + 20px);
    }
  }
}

/* Table */

.th-sortable {
  user-select: none;
  cursor: pointer;
}

.th-sortable:hover {
  text-decoration: underline;
}

.th-sortable::before {
  display: inline-block;
  vertical-align: top;
  content: ' ';
  width: 20px;
  height: 19px;
  opacity: .2;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center left;
}

.th-sortable.down::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}

.th-sortable.up::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}

/* Navbar > Vertical divider */

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid $navbar-default-border;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/* Form inline */

.form-inline-always {
  margin: 10px 0;
  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .multiselect-native-select {
    display: inline-block;
    width: 140px;
  }
  .control-time {
    width: 70px;
    margin: 0 10px;
  }
  .close {
    margin: 0 -10px;
    padding: 0 10px;
    line-height: 32px;
  }
  &.has-error input {
    background: #f2dede;
  }
}

/* Close button in EventEditor */

.close--col {
  padding: 30px 10px 10px;
  margin: 0 -10px;
}

/* Panel */

a.panel {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    .panel-heading {
      text-decoration: underline;
    }
  }
}

.panel-move .panel-heading {
  cursor: move;
}

.panel-move svg {
  vertical-align: top
}

.btn-icon {
  padding: 6px;
  min-width: 30px;
  font-size: 12px;
  line-height: 12px;
  > svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    vertical-align: top;
  }
}

.btn-subtle {
  background: none;
  border-color: transparent;
  pointer-events: none;
}

h1 + h3 {
  margin-top: 10px;
}

/* Pagination */

.pagination-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.pagination {
  margin: 10px 0;
}

.pagination > li > a {
  text-align: center;
  min-width: 38px;
}

.slideup-enter-active,
.slideup-leave-active {
  transition: transform .3s
}

.slideup-enter,
.slideup-leave-active {
  transform: translateY(100%);
}

/* Version > Preview */



.version-split {
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  background: #fff;
  margin-bottom: 1rem;
  position: relative;

  & > div {
    overflow: auto;
    flex: 1 1 auto;
  }

  .version-cals {
    position: relative;
    margin-bottom: 2rem;
  }

  .version-preview {
    border: 1px solid #ccc;
    padding-top: 1em;
    margin-right: 0;
    margin-left: auto;
    background: #eee;
  }

  @media (min-width: 768px) {

    flex-wrap: nowrap;

    & > div {
      flex: 0 1 auto;
    }
  }
}

.calendar {
  overflow: hidden;
}

.calendar .month-container {
  min-width: 180px;
  text-align: center;
  height: 230px;
  padding: 0;
  > table {
    border: 1px solid #ccc;
    background: white;
  }
}

.calendar-editor__buttons {

  .alert {
    margin-top: 2rem;
  }
}

/* Version > Preview > Topdown layer render */
@mixin layer($num: 0, $background: #000, $color: white, $content: 'A') {
  .layer-#{$num} {
    background: $background;
    color: $color;
    border-color: mix($background, #000, 70%) !important;
    &::after {
      content: $content;
    }
    & + .layer-#{$num} {
      &:after {
        display: none;
      }
    }
  }
}

@include layer(0, $lightblue, white, 'A');
@include layer(1, $yellow, black, 'B');
@include layer(2, $red, white, 'C');
@include layer(3, $orange, white, 'D');
@include layer(4, $green, white, 'E');
@include layer(5, #2b3f47, white, 'F');
@include layer(6, #951b81, white, 'G');
@include layer(7, #ccb4a5, black, 'H');
@include layer(8, #a09b96, white, 'I');
@include layer(9, #e0cae3, black, 'J');
@include layer(10, #e5e3c7, black, 'K');

.calendar-topview {
  table.month th.month-title {
    font-size: 14px;
    padding: 0;
  }
  .day-header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
  }
  .day {
    position: relative;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: top;
    width: 26px;
    height: 26px;
  }
  .layer > .day-content {
    font-size: 9px;
    height: 100%;
    padding: 2px 0 0 4px !important;
    text-align: left;
  }
  .day::after {
    position: absolute;
    bottom: 0;
    left: 4px;
    pointer-events: none;
  }
}

/* Version > Cals */

.cal {
  border-top: 1px solid #ddd;
  background: white;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }

  .btn.btn-link {
    white-space: normal;
    text-align: left;
  }

  &.cal--one-line {
    border: none;
  }
}

.cal-header {
  display: flex;
  align-items: center;
}

.cal-img {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  line-height: 34px;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  flex: 0 0 auto;
}

.cal-action {
  display: inline-block;
  padding: .6em 1em;
}

.cal-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.cal-name {
  flex-grow: 1;
  padding-left: .8rem;

  .btn {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .unpublished {
    display: block;
    font-weight: bold;
    color: $red;
  }

}

.cal-drag {
  font-size: 12px;
}

.tooltip {
  white-space: pre;
  transition: none;
  pointer-events: none;
}

.top-right {
  float: right;
  margin-top: 15px;
  margin-right: 0;
}

.cal {
  transition: all .3s;
}

.list-enter,
.list-leave-to,
.list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}

/* Modal > Content */

.modal-content {
  border-radius: 0;
}

/* Modal > Footer */

.modal-footer {
  text-align: left;
  padding-top: 0;
  border: 0;
}

/* Wrap lines in bootstrap tooltips */

.tooltip-inner {
  white-space: pre-wrap;
  .calendar {
    white-space: pre;
  }
}

.checkbox--preset {
  margin: 0;
  label {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }
  .pull-right {
    opacity: .5;
  }
}

.required {
  label::after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
}

.btn[disabled] {
  color: #aaa !important;
  background-color: #eee !important;
  border-color: #ccc !important;
  opacity: 1;
  text-decoration: line-through;
}

.recreatex-read-only {
  float: right;
  margin-top: 6px;
  font-size: 16px;
}

.status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  .status__message {
    padding: 5px 15px;
    animation: ease-in once;
    animation-name: floatUp;
    animation-duration: .5s;
  }

  .status__progress {

    position: relative;
    overflow: hidden;
    height: .5rem;

    animation: ease-in once;
    animation-name: floatUp;
    animation-duration: .5s;

    span {
      display: inline-block;
      width: 18%;
      bottom: 0;
      height: .5rem;
      background-color: #007DB3;
      position: absolute;
      animation: linear infinite;
      animation-name: load;
      animation-duration: 3s;
      border-radius: 1rem;
    }
  }

  &.status--error {

    .status__progress {
      span {
        background-color: #b30000;
        width: 100%;
        animation: none;
        border-radius: 0;
      }
    }
  }
}

.modal .status {

  position: relative;
  margin: 15px -15px -15px;
  width: calc(100% + 30px);

}

@keyframes floatUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    right: 100%;
  }
  100% {
    right: -25%;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.btn-toggle {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  display: inline-block;
  background: #e5e5e5;

  input[type="radio"] {

    &:checked+label {
      font-weight: bold;
      border-bottom: 2px solid $green;
      opacity: 1;
      background: $darkblue;
      color: white;
      text-decoration: none;
    }
  }

  label {
    padding: .5rem;
    font-weight: normal;
    margin: 0;
    opacity: .8;
    cursor: pointer;
    text-decoration: line-through;
  }
}

.event-editor {
  .form-group {
    margin-bottom: .5rem;
  }
}

.form-control {
  .form-control--inline {
    width: auto;
    display: inline;
  }
}

input[type=radio] {
    vertical-align: middle;
}
