// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/bootstrap-year";
@import "vendor/bootstrap-multiselect";

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #27373f;
}

/* container maybe max-width to 100% */

.container {
  width: auto;
  max-width: 1400px;
}

/* Breadcrumb */

.container-breadcrumb {
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.breadcrumb > .active > a {
  color: #777;
  text-decoration: underline;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  background: none;
  border: none;
}
.pre-wrap {
  white-space: pre-wrap;
}

/* Table */

.table-hover > tbody > tr:hover {
  cursor: pointer;
}
.table-list {
  margin-bottom: 0;
  padding-left: 20px;
}
.table > tbody + tbody {
  border-top-width: 1px;
}
.text-danger > a {
  color: inherit;
}
.td-btn {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

/* Table > extra padding */

.table {
  margin-top: 15px;
  border-top: 1px solid #999;
  >thead>tr>th {
    border-bottom: 1px solid #999;
  }
  >thead>tr>th,
  >tbody>tr>td {
    &:first-child {
      padding-left: 15px
    }
    &:last-child {
      padding-right: 15px
    }
  }
}

/* Table */

.th-sortable {
  user-select: none;
  cursor: pointer;
}
.th-sortable:hover {
  text-decoration: underline;
}
.th-sortable::before {
  display: inline-block;
  vertical-align: top;
  content: ' ';
  width: 20px;
  height: 19px;
  opacity: .2;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center left;
}
.th-sortable.down::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}
.th-sortable.up::before {
  opacity: 1;
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}

/* Navbar > Vertical divider */

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid $navbar-default-border;
}
@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

/* Form inline */

.form-inline-always {
  margin: 10px 0;
  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .multiselect-native-select {
    display: inline-block;
    width: 140px;
  }
  .control-time {
    width: 70px;
    margin: 0 10px;
  }
  .close {
    margin: 0 -10px;
    padding: 0 10px;
    line-height: 32px;
  }
}

/* Wrapper */

.wrapper-height100 {
  height: 100%;
  margin: 0 -15px;
}
.wrapper-above-save {
  height: calc(100% - 4.7em);
  padding: 0 15px;
  overflow: auto;
}
.wrapper-save-btn {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

/* Panel */

a.panel {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    .panel-heading {
      text-decoration: underline;
    }
  }
}
.panel-move .panel-heading {
  cursor: move;
}
.panel-move svg {
  vertical-align: top
}
.btn-icon {
  padding: 6px;
  min-width: 30px;
  font-size: 12px;
  line-height: 12px;
  >svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    vertical-align: top;
  }
}
h1+h3 {
  margin-top: 10px;
}

/* Pagination */

.pagination-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-top: 1px solid #ccc;
}
.pagination {
  margin: 10px 0;
}
.pagination > li > a {
  text-align: center;
  min-width: 38px;
}
.slideup-enter-active,
.slideup-leave-active {
  transition: transform .3s
}
.slideup-enter,
.slideup-leave-active {
  transform: translateY(100%);
}

/* Version > Preview */

.version-split {
  position: fixed;
  z-index: 3;
  top: 200px;
  // Temp
  // top: 217px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  &>div {
    height: 100%;
    overflow: auto;
  }
}
.version-cals {
  width: 30em;
}
.version-preview {
  border-left: 1px solid #ccc;
  padding-top: 1em;
  width: calc(100% - 30em);
  background: #eee;
}
.calendar {
  overflow: hidden;
}
.calendar .month-container {
  min-width: 180px;
  text-align: center;
  height: 230px;
  padding: 0;
  >table {
    border: 1px solid #ccc;
    background: white;
  }
}

/* Version > Preview > Topdown layer render */
@mixin layer($num: 0, $background: #000, $color: white, $content: 'A'){
  .layer-#{$num} {
    background: $background;
    color: $color;
    border-color: mix($background, #000, 70%)!important;
    &::after {
      content: $content;
    }
    &+.layer-#{$num} {
      &:after {
        display: none;
      }
    }
  }
}
@include layer(0, $lightblue, white, 'A')
@include layer(1, $yellow, black, 'B')
@include layer(2, $red, white, 'C')
@include layer(3, $orange, white, 'D')
@include layer(4, $green, white, 'E')

.calendar-topview {
  table.month th.month-title {
    font-size: 14px;
    padding: 0;
  }
  .day-header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
  }
  .day {
    position: relative;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: top;
    width: 26px;
    height: 26px;
  }
  .layer>.day-content {
    font-size: 9px;
    height: 100%;
    padding: 2px 0 0 4px !important;
    text-align: left;
  }
  .day::after {
    position: absolute;
    bottom: 0;
    left: 4px;
    pointer-events: none;
  }
}

/* Version > Cals */

.cal {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
  &:hover {
    background: #eee
  }
}
.cal-header {
  line-height: 32px;
}
.cal-options {
  float: right;
}
.cal-img {
  float: left;
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  line-height: 34px;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
}
.cal-higher,
.cal-lower,
.cal-view,
.cal-drag {
  margin-left: 1em
}
.cal-drag {
  font-size: 12px;
}
.tooltip {
  white-space: pre;
  transition: none;
  pointer-events: none;
}
.top-right {
  float: right;
  margin-top: 15px;
  margin-right: 0;
}

/* Modal > Content */

.modal-content {
  border-radius: 0;
}

/* Modal > Footer */

.modal-footer {
  text-align: left;
  padding-top: 0;
  border: 0;
}
